body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

.display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-image: linear-gradient(hsl(0, 0%, 30%), hsl(0, 0%, 10%));
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 19px;
}

button {
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    background-image: linear-gradient(white, rgb(180, 180, 180));
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(white, rgb(220, 220, 220));
}

.operator {
    background-image: linear-gradient(rgb(255, 218, 116), rgb(165, 126, 49));
}

.operator:hover {
    background-image: linear-gradient(rgb(255, 231, 167), rgb(225, 174, 73));
}